@import "variables.css";
@import "typography.css";
@import "header.css";
@import "footer.css";
@import "./libs/headliner.css";
@import "./libs/convenience.css";
@import "./libs/carousel.css";
@import "./libs/centers.css";
@import "./libs/events.css";
@import "./libs/avenue.css";

/* Reset and base styles */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 162px;
}

.add_padding {
  padding: 80px 16px;
}

.add_dark_background {
  background: var(--dark);
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--spoka-neo), sans-serif;
  color: var(--default);
  max-width: var(--maxW);
  min-height: var(--minH);
  background: var(--white-1);
  position: relative;
  overflow-x: hidden;
}

main {
  margin-top: -66.5px;
}

article {
  width: 100%;
}

img {
  width: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
  font-family: var(--spoka-neo);
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

li {
  display: list-item;
  position: relative;
}

li span,
button span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mirae_company {
  height: 100vh;
  max-height: 1027px;
}

.mirae_company img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.quick-menu,
.quick-menu button {
  display: flex;
  flex-direction: column;
}

.quick-menu {
  position: fixed;
  top: 50%;
  translate: 0 -50%;
  right: 8px;
  z-index: 100;
  gap: 8px;
}

.quick-menu button {
  align-items: center;
  justify-content: space-between;
  width: 58px;
  height: 56px;
  padding: 8px 7px;
  color: var(--primary-6);
  border: var(--thin-primary-border);
  border-radius: var(--borderRadius-4);
  transition: var(--transition-300);
}

.quick-menu button:hover {
  background: var(--opacity-white-6);
}

.quick-menu button [class^="fa"] {
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  main {
    margin-top: -80px;
  }
}
