@import "variables.css";
@import "typography.css";
@import "./libs/headliner.css";
@import "./libs/convenience.css";
@import "./libs/carousel.css";
@import "./libs/centers.css";
@import "./libs/events.css";
@import "./libs/avenue.css";

/* Reset and base styles */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 162px;
}

.add_padding {
  padding: 80px 16px;
}

.add_dark_background {
  background: var(--dark);
}

body {
  font-family: var(--spoka-neo), sans-serif;
  color: var(--default);
  max-width: var(--maxW);
  min-height: var(--minH);
  background: var(--white-1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 22px 14px;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(8px);
}

main {
  margin-top: -66.5px;
  position: relative;
}

article {
  width: 100%;
}

img {
  width: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

li {
  display: list-item;
  position: relative;
}

li span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quick-menu {
  position: fixed;
  top: auto;
  right: 16px;
  z-index: 100;
}

/* Footer styles */
footer {
  padding: 20px 16px;
  /* position: sticky;
  bottom: 0;
  z-index: 50; */
  background: var(--dark);
}
